


.header-container {
  
   position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1vh;
    width: 100%;
    color: #fff;
    padding: 30px;
    background-color: #24263B;
    z-index: 1;
  }
  
  .header-left {
    margin-left: 20px;
    width: 30%;
  }
  
  .header-left h1 {
    font-size: 1.5em;
  }
  
  .header-left span {
    color: #D15536;
    font-weight: bold;
  }
  
  .header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  
  .header-right ul {
    display: flex;
    list-style: none;
  }
  
  .header-right ul li {
    margin: 0 20px;
  }
  
  .header-right ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
  }
  
  .header-right ul li a:hover {
    color: #FD4E21;
  }
  
  .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #fff;
    display: none;
    z-index: 1001;
  }
  
  @media (max-width: 1024px) {
    .nav-btn {
      display: block;
      width: 50%;
    }
  
    .header-right {
      position: fixed;
      top: 0;
      left: 0;
      height: 50%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      background-color: #24263B;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(-100%);
      transition: transform 0.3s ease-in-out;
    }
  
    .header-right.responsive_nav {
      transform: translateY(0);
     
    }
  
    .header-right ul {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .header-right ul li {
      margin: 20px 0;
    }
  }
  